<mat-card>
  <mat-card-header>
    <mat-card-title>{{data != null ? 'Editar Produto' : 'Cadastrar Produto'}}</mat-card-title>
    <mat-card-subtitle>...</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" #name />
        <mat-hint align="end">{{ name.value.length }} / 100</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" #description />
        <mat-hint align="end">{{ description.value.length }} / 100</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" type="number" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          @for (category of categories$ | async; track category) {
          <mat-option [value]="category.id">
            {{ category.name }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" type="submit" (click)="handleCloseDialog()">Save</button>
    <button mat-raised-button class="btn-space" type="button" (click)="this.dialogRef.close()">Cancel</button>
  </mat-card-actions>
</mat-card>
